In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
df = pd.read_csv('cardekho_dataset.csv')

In [49]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [50]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [51]:
df['brand'].value_counts()

brand
Maruti           4992
Hyundai          2982
Honda            1485
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
BMW               439
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
MG                 19
Mini               17
Nissan             11
Lexus              10
Isuzu               8
Bentley             3
Maserati            2
ISUZU               2
Ferrari             1
Mercedes-AMG        1
Rolls-Royce         1
Force               1
Name: count, dtype: int64

In [52]:
df['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [53]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [54]:
df.drop('car_name', axis=1, inplace=True)

In [55]:
df.drop('brand', axis=1, inplace=True)

In [56]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [57]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print(f"Numerical Features : {num_features}")
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print(f"Categorical Features : {cat_features}")

Numerical Features : ['vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']
Categorical Features : ['model', 'seller_type', 'fuel_type', 'transmission_type']

In [58]:
discreate_features = [feature for feature in df.columns if len(df[feature].unique()) < 121]
print(f"discreate Features : {discreate_features}")
continuous_features = [feature for feature in df.columns if len(df[feature].unique()) >= 121]
print(f"discreate Features : {continuous_features}")

discreate Features : ['model', 'vehicle_age', 'seller_type', 'fuel_type', 'transmission_type', 'engine', 'seats']
discreate Features : ['km_driven', 'mileage', 'max_power', 'selling_price']

In [59]:
len(df['model'].unique())

120

In [60]:
X = df.drop('selling_price',axis=1)
y = df['selling_price']

In [61]:
type(X)

pandas.core.frame.DataFrame

In [62]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [63]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
X['model']=label.fit_transform(X['model'])

In [64]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [65]:
df['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [70]:
num_features = ['vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power', 'seats']

In [71]:
onehot_cols = ['seller_type', 'fuel_type', 'transmission_type']

In [72]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

onehot = OneHotEncoder(drop='first')
scaler = StandardScaler()

preprocesser = ColumnTransformer(
    [
        ("OneHotEncoder", onehot, onehot_cols),
        ('StandardScaler', scaler, num_features)
    ], remainder='passthrough'
)

In [73]:
X = preprocesser.fit_transform(X)

In [74]:
X

array([[ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
        -1.26335238e+00, -4.03022414e-01,  7.00000000e+00],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
        -4.32570824e-01, -4.03022414e-01,  5.40000000e+01],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
        -4.79113208e-01, -4.03022414e-01,  1.18000000e+02],
       ...,
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00, ...,
         6.82252276e-02, -4.03022414e-01,  7.70000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00, ...,
         9.17158311e-01,  2.07344426e+00,  1.14000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         3.95883611e-01, -4.03022414e-01,  2.50000000e+01]])

In [75]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [76]:
X_train.shape, X_test.shape

((12328, 14), (3083, 14))

In [82]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score,mean_absolute_error, mean_squared_error, root_mean_squared_error

In [85]:
def eval_model(test,pred):
    print(f"MSE : {mean_squared_error(test,pred)}")
    print(f"RMSE : {root_mean_squared_error(test,pred)}")
    print(f"MAE : {mean_absolute_error(test,pred)}")
    print(f"r2_score : {r2_score(test,pred)}")
    print("--------------------------------------------------------")

In [86]:
models = {
    'LinearRegression' : LinearRegression(),
    'Ridge' : Ridge(),
    'Lasso' : Lasso(),
    'KNeighborsRegressor' : KNeighborsRegressor(),
    'DecisionTreeRegressor' : DecisionTreeRegressor(),
    'RandomForestRegressor' : RandomForestRegressor()
}

for i in range(len(models)):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    y_pred = model.predict(X_test)
    eval_model(y_test,y_pred)

MSE : 252550062888.5635
RMSE : 502543.5930230964
MAE : 279618.57941583544
r2_score : 0.6645109298852032
--------------------------------------------------------
MSE : 252540309270.87643
RMSE : 502533.8886790387
MAE : 279557.36472942546
r2_score : 0.6645238866514407
--------------------------------------------------------
MSE : 252549177046.11838
RMSE : 502542.7116635146
MAE : 279614.84056292445
r2_score : 0.6645121066438022
--------------------------------------------------------
MSE : 81286350864.6205
RMSE : 285107.6127791408
MAE : 110757.93869607525
r2_score : 0.8920187072904049
--------------------------------------------------------
MSE : 89135883328.58057
RMSE : 298556.331918418
MAE : 123959.14963779868
r2_score : 0.8815913396744567
--------------------------------------------------------
MSE : 55059171164.9802
RMSE : 234646.9074268404
MAE : 102190.24162369508
r2_score : 0.9268590554911831
--------------------------------------------------------